<!-- rates.component.html -->

<h2>Rates</h2>

<form ngNativeValidate (ngSubmit)="addRate(rate)">
  <label>
    <input type="text" [(ngModel)]="rate.currency" name="currency" required placeholder="currency">
  </label>
  <br>
  <label>
    <input type="text" [(ngModel)]="rate.name" name="name" required placeholder="name">
  </label>
  <br>
  <button type="submit">Submit</button>
</form>
<div *ngIf="rateSelected && rateSelected.value !== undefined">
  <h1 style="display: inline;">Current Currency Value: {{ rateSelected.value }}</h1>
</div>


<table *ngIf="rates.length > 0">
  <thead>
  <tr>
    <th>Currency</th>
    <th>Name</th>
    <th>Date</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rate of rates">
    <td width="10px" style="text-align: center;">{{ rate.currency }}</td>
    <td width="150px" style="text-align: center;">{{ rate.name }}</td>
    <td width="250px" style="text-align: center;">{{ rate.date }}</td>
    <td width="150px" style="text-align: center;">{{ rate.value }}</td>
  </tr>
  </tbody>
</table>
<mat-paginator [length]="totalItems"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               [pageIndex]="pageIndex"
               (page)="onPageChange($event)">
</mat-paginator>
